@font-face {
    font-family: font1;
    src: url(plain-light-webfont.ttf);
}
@font-face {
    font-family: font2;
    src: url(plain-regular-webfont.ttf);
}
@font-face {
    font-family: font3;
    src: url(silkserif-lightitalic-webfont.ttf);
}
@font-face {
    font-family: font4;
    src: url(silkserif-regularitalic-webfont.ttf);
}
@font-face {
    font-family: font5;
    src: url(Blackpast.ttf);
}
@font-face {
    font-family: font6;
    src: url(Gilroy-Light.ttf);
}
@font-face {
    font-family: font7;
    src: url(Gilroy-Regular.ttf);
}
@font-face {
    font-family: font8;
    src: url(SpaceMono-Regular_copy.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: font1;
    /* overflow-x: hidden; */
}
html,body{
    height: 100%;
    width: 100%;
}
WebKit browsers (Chrome, Safari)
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background: black;
    border-radius: 6px;
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgb(43, 43, 43) black;
}

/* For Edge and IE */
* {
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.mouseFollower{
    border: 3px solid #fff;
    scale: 1;
    mix-blend-mode: difference;
}
#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #000000;
    padding: 17vh 7vw;
    /* display: none; */
}
.line{
    /* background-color: red; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 3vw;
}
#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4vw;
}
#line1-part1 h5,#line1-part1 h6{
    font-size: 2.8vw;
    font-family: font4;
    font-weight: 100;
}
#line1-part1 h5{
    width: 4vw;
    text-align: right;
}
.line h1{
    font-size: 6.6vw;
    font-weight: 600;
    line-height: 8vw;
    font-family: font7;
}
.line h2{
    font-size: 5vw;
    font-weight: 400;
    opacity: 1;
    
}

#main{
    position: relative;
    background-color: #000;
}

#page1{
    height: 24vh;
    width: 100%;
    background-color: #000;
    overflow: visible;
}
#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vw;
    padding: 3.3vw 8.5vw;
}
#nav img{
    mix-blend-mode: difference;
}
#page1 #nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4vw;
}

#nav-part2 h4{
    font-size: 1.1vw;
    font-weight: 200;
    font-family: font2;
}
#page2{
    height: 100%;
    width: 100%;
}
#page2 .videocontainer #video1{
    width: 100%;
    position: relative;
    height: 46vw;
    background-position: filled;
}
#page2 .videocontainer #video2{
    width: 100%;
    position: relative;
    height: 46vw;
    background-position: filled;
    display: none;
}
#overlay{ 
    width: 100%;
    position: absolute;
    padding: 0vw 10vw;
    color: #eee7e7;
    z-index: 99999;
    top: 11.5%;
    mix-blend-mode: difference;
}
#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1vw;
}
#over1 h1{
    font-size: 4vw;
    line-height: 5vw;
    font-family: font5;
}

#over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 3px solid white;
}
#over2 h4{
    padding-top: 1vw;
    font-size: 1.6vw;
    font-weight: 600;
}
#nav i{
    display: none;
}
#page3{
    /* height: 100vh; */
    width: 100%;
    /* background-color: beige; */
    margin-top: 13vh;
}
#scroll{
    min-height: 44vh;
    width: 100%;
    /* background-color: blanchedalmond; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}
#scroll h1{
    font-size: 50px;
    padding-left: 8.4vw;
    margin-bottom: 7vh;
}
#text button{
    font-size: 17px;
    background-color: black;
    border-radius: 50px;
    padding: 2.3vh 2vw;
    margin-right: 8.6vw;
    margin-bottom: 7vh;
    border: 1px solid rgb(54, 53, 53);
}
#bottom-text {
    height: 100%;
    width: 100%;
    padding: 10px;
    margin-bottom: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 3.8vw;
}

.box{
    height: 100%;
    width: 100%;
    margin-right: 1vw;
}
#bottom-text h2{
    font-size: 30px;
    padding-left: 0.5vw;
    margin-top: 30px;
}
#bottom-text h3{
    font-size: 27px;
    font-weight: 400;
    color: gray;
    padding-left: 0.5vw;
}
#container{
    height: 100%;
    width: 194%;
    /* background-color: blue; */
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 2vw;
    padding-bottom: 4vw;
    animation-name: anime;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#container img{
    height: 40vw;
    width: 30vw;
    border-radius: 0.5vh;
    object-fit: cover;
    margin: 1vh;
    object-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

@keyframes anime{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#page3-bottom-heading h1 span{
    font-size: 70px;
    font-weight: 900;
    line-height: 60px;
    font-family: font2;
}

#page3-bottom-heading{
    justify-content: end;
    height: 40vh;
    display: flex;
    flex-direction: column;
    padding-left: 6%;
    /* background-color: #aa6ad5; */
}

#page5{
    height: 100vh;
    width: 100%;
}
#page-part2{
    height: 100%;
    width: 46%;
}
#page-part2 img{
    height: 70%;
    width: 80%;
    object-fit: cover;
}

#text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#text h3{
    height: 100%;
    width: 50%;
    font-size: 1.4vw;
    padding: 20px 0px;
    /* font-family: font4; */
}
#text h4{
    height: 100%;
    width: 50%;
    font-size: 1.1vw;
}
#page-bot{
    padding: 6px 80px;
}
#page-bot h1{
    font-size: 2.6vw;
    letter-spacing: 1px;
    /* font-family: font2; */
}
#fimage{
    height: 100%;
    width: 100%;
}
#fimage img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    padding: 40px 80px ;
}
#update{
    height: 8vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#update h1{
    font-size: 4vw;
    letter-spacing: 3px;
    font-family: font5;
    font-weight: 500;
    padding-bottom: 4vw;
}
#page5{
    min-height: 40vw;
    width: 100%;
    padding: 5vw 5vw;
    margin-top: 3vh;
}
.elm{
    height: 17vh;
    width: 100%;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 1.5vw;
    position: relative;
    
}
.elm h2{
    font-size: 1.3vw;
    text-transform: uppercase;
    font-weight: 600;
    width: 6%;
    cursor: pointer;
}
.elm .elm-1{
    width: 45%;
}
.elm-1 h1{
    font-size: 2.5vw;
    font-weight: 600;
    font-family: font6;
    cursor: pointer;
}
.elm-1 h4{
    font-size: 1vw;
    font-weight: 600;
    text-transform: uppercase;
}
.elm:nth-last-child(1){
    border-bottom: 2px solid black;
}
.elm img{
    height:170px;
    width: 120px;
    position: absolute;
    border-radius: 5%;
    left: 12%;
    opacity: 0;
    transition: all ease 0.5s;
    object-fit: cover;
    object-position: top;
    cursor: pointer;
}
.elm:hover img{
    opacity: 1;
    left: 25%;
    transform: scale(2);
    z-index: 99999;
}
.elm:hover{
    /* background-color: rgba(193, 174, 144, 0.245); */
    background-color: #a06bc594;
}
.elm:hover:nth-last-child(1) img{
    opacity: 1;
    left: 23%;
}
.elm:hover:nth-last-child(3) img{
    opacity: 1;
    left: 23%;
}


#footer{
    margin-top: -11vh;
    width: 100%;
    position: relative;
    bottom: 0;
}
#footer-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.underline3{
    height: 1px ;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.951);
    margin:5.8vw 0vw;
}

#bottom{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 2vw 5vw;
    color: rgb(209, 203, 203);
}
#bottom h1{
    position: absolute;
    top:-0.5vw;
    left: 10%;
    font-size: 5vw;
    font-family: font2;
    letter-spacing: -2px;
    opacity: 0.3;
    width: fit-content;
}
#bottom h1:hover{
    cursor: pointer;
    opacity: 1;
    color: #aa6ad5;
}
#bottom h2{
    position: absolute;
    /* top: 32%; */
    left: 40.9%;
    font-size: 2vw;
    font-family: font5;
    opacity: 1;
}
#bottom h1::after{
    content: "©️";
    font-family: font1;
    font-size: 1.5vw;
    font-weight: 400;
    position: absolute;
    bottom: 48%;
    left: 101%;
}
#bottom h2::before{
    content: "fashion studio";
    font-family: font6;
    font-size: 0.9vw;
    font-weight: 550;
    position: absolute;
    bottom: -165%;
    left: -170%;
    letter-spacing: 1px;
}
#bottom h4{
    position: absolute;
    left: 68%;
    top: 29%;
    font-family: font6;
}
#lobo{
    position: absolute;
    left: 41%;
    top: 90%;
    /* position: fixed; */
}
#lobo i{
    font-size: 1.8vw;
    opacity: 0.5;
    letter-spacing: 1vw;
}
#lobo i:hover{
    color: rgb(36, 226, 226);
    cursor: pointer;
    opacity: 3;
    font-size: 1.8vw;
    font-weight: bolder;
}

/* ---------------------------------------- Page4 -------------------------------------------- */

#page4{
    height: 110vh;
    width: 100%;
    overflow-x: hidden;
    /* background-color: #aa6ad5; */
}
#combined{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    /* border-color: antiquewhite; */
}
#page4_left{
    height: 100%;
    width: 50%;
    position: relative;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#page4_left img{
    margin: 5vh;
    width: 60%;
    height: 70%;
    object-fit: cover;
    object-position: center;
    border-radius: 5%;
    position: absolute;

}
#page4_left img#a{
    opacity: 0;
    scale: 0;
}
#page4_left img#b{
    opacity: 0;
    scale: 0;
}#page4_left img#c{
    opacity: 0;
    scale: 0;
}#page4_left img#d{
    opacity: 0;
    scale: 0;
}#page4_left img#e{
    opacity: 0;
    scale: 0;
}#page4_left img#f{
    opacity: 0;
    scale: 0;
}#page4_left img#g{
    opacity: 0;
    scale: 0;
}#page4_left img#h{
    opacity: 0;
    scale: 0;
}#page4_left img#i{
    opacity: 0;
    scale: 0;
}#page4_left img#j{
    opacity: 0;
    scale: 0;
}#page4_left img#k{
    opacity: 0;
    scale: 0;
}#page4_left img#l{
    opacity: 0;
    scale: 0;
}
#page4_right{
    position: relative;
    height: 100%;
    width: 50%;
    /* background-color:#111; */
    /* background-color: aqua; */
}

#page4_right h1{
    font-size: 70px;
    font-weight: 800;
    line-height: 70px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
#page4_right :nth-child(1){
    margin-top: 8vh;
}
#page4_right h1:hover{
    transform: translateX(4vw);
}
#page4_right h1 span{
    transition: transform 0.5s ease-in-out;
    animation-duration: 2s;
    font-family: font5;
    color: #424242;
}
#page4_right h1 span:hover{
    color: white;
}

#page4_right h1 span:hover #page4_left img #a{
    opacity: 1;
    left: 25%;
    transform: scale(2);
    z-index: 99999;
}

/* ---------------------------------------- Page4-bottom -------------------------------------------- */
#page4-bottom{
    min-height: 70vh;
    width: 100%;
    display: flex;
    overflow-x: hidden;
    /* background-color: salmon; */
}

#left {
    width: 50%;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #aa6ad5; */
}

#right {
    width: 50%;
    height: 65vh; 
    /* background-color: aqua; */
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.page4-bottom-left{
    padding-left: 30px;
}

#right h1 {
    font-size: 32px;
    font-weight: 800;
    line-height: 45px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    text-transform: lowercase;
}

#right h1 span {
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    animation-duration: 2s;
    font-family: font5;
    color: #ffffff;
    font-family: font2;
}

#videoPlayer video {
    max-width: 60%;
    max-height: 60%;
    border-radius: 15px;
}

#videoPlayer{
    display: flex;
    flex-direction: column;
    gap: 10vh;
    justify-content: center;
    align-items: center;
}
#circle-btn{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 25px;
    background-color: #393939;
    color: #fff;
    border: none;
}
#right-bottom{
    display: flex;
    gap: 15px;
    align-items: center;
    padding-top: 65px;
}

